<!-- Google map selector, includes map marker and map info window -->
<google-map [center]="position" [zoom]="16" width="100%">
  <map-marker
    #marker="mapMarker"
    [position]="position"
    [options]="{ draggable: false }"
    (mapClick)="openInfoWindow(marker)">
  </map-marker>
  <map-info-window>
    <strong>Latitude: </strong>{{ position.lat }}<br />
    <strong>Longitude: </strong>{{ position.lng }}
  </map-info-window>
</google-map>

<button class="btn" matRipple (click)="getLocation()">
  Get my location
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="18px"
    viewBox="0 0 24 24"
    width="18px"
    fill="white">
    <path d="M0 0h24v24H0V0z" fill="none"/>
    <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z"/>
    <circle cx="12" cy="9" r="2.5" />
  </svg>
</button>

<!--<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
