<form class="form-container" [formGroup]="profileForm" (ngSubmit)="save()">
  <mat-form-field appearance="legacy" autocomplete="nickname">
    <mat-label>Username</mat-label>
    <input matInput formControlName="nombre" />
    <mat-error *ngIf="submitted && profileForm.controls.nombre.invalid">
      * User name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="legacy" autocomplete="email">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error *ngIf="submitted && profileForm.controls.email.invalid">
      {{ getErrorMessage() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Bio</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      rows="4"
      formControlName="bio">
    </textarea>
  </mat-form-field>

  <mat-radio-group
    aria-label="Select gender"
    formControlName="género"
    color="primary">
    
    <mat-label class="gender">Gender</mat-label>
    <mat-radio-button value="Male">Male</mat-radio-button>
    <mat-radio-button value="Female">Female</mat-radio-button>
    <mat-radio-button value="Other">Other</mat-radio-button>
  </mat-radio-group>

  <button type="submit" class="btn" matRipple>SAVE</button>
</form>
