.container{
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #f5f5f5;
    /* background-color: white; */
}
.navbar{
    width: 100%;
    background-color: #76b2c8;
    height: 60px;
    color: white;
    display: flex;
    font-size: 22px;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Pacifico', cursive;
}
.mylogo{
    position: absolute;
    left: 20px;
}
.innercontainer{
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
}
.profile, .location{
    width: calc(50% - 30px);
    box-shadow: 0 0 6px rgba(0,0,0,0.16);
    border-radius: 4px;
    overflow: hidden;
}
.profile{
    margin: 0 10px 0 20px;
}
.location{
    margin: 0 20px 0 10px;
}
header{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    position: relative;
    height: 300px;
    width: 100%;
    margin-bottom: 118px;
}
.img-container{
    position: absolute;
    bottom: 50px;
    right: calc(50% - 117px);
    z-index: 1;
}
.dp{
    overflow: hidden;
    display: flex;
    position: absolute;
    bottom: -120px;
    right: calc(50% - 120px);
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #f5f5f5;
    box-shadow: 0 0 6px rgb(0 0 0 / 16%);
    object-fit: cover;
}
.profile-data{
    padding: 20px;
    margin: 0 auto;
}
.location{
    padding: 20px;
    height: fit-content;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .innercontainer{
        padding: 0;
    }
    .profile, .location{
        margin: 0 0 4px 0;
        width: 100%;
        border-radius: 0;
    }
    .max-width{
        max-width: 400px; 
        margin: 0 auto;
    }
}