@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; box-sizing: border-box;}
.btn{
    padding: 8px;
    background-color: #76b2c8;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    box-shadow: 0 0 6px rgba(0,0,0,0.16);
    border: none;
}